.password-reset-container {
  background-color: white;
  width: 50rem;
  margin: 1rem auto;
  padding: 0.2rem 1rem 1rem 1rem;
  border-radius: 7px;
  border: 1px;
}

.password-reset-container hr {
  margin-top: -1rem;
}

.password-reset-container input {
  width: 35%;
  height: 1.5rem;
  border: 1px solid lightgrey;
  border-radius: 7px;
  padding: 0.2rem 0 0.2rem 0.5rem;
  font-family: Consolas;
  font-size: 1rem;
}

.password-reset-container button {
  margin-top: 2rem;
  background-color: #014980;
  color: white;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.resetPasswordInstructions {
  margin-top: 1rem;
}
