.reset-password-page .reset-password-container {
  background-color: white;
  width: 40%;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  border-radius: 7px;
  border: 1px;
}

.password-input-main .new-password-container {
  padding-top: 1rem;
}

.reset-password-page .reset-password-container hr{
    margin-top:-0.8rem;
}

.reset-password-page .password-input-main input,
.reset-password-page .password-input-main button {
  height: 2rem;
  font-size: 1.2rem;
}

.reset-password-page .password-input-main input:nth-child(2) {
  margin-top: 1rem;
}

.reset-password-page .password-input-main button {
    padding: 0rem 1.5rem;
}

.reset-password-page .password-input-main .buttons{
    margin-bottom: 1rem;
}

.reset-password-page .confirmation-message{
    color: red;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}