.delete-account-container {
  background-color: white;
  width: 50rem;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  border-radius: 7px;
  border: 1px;
  padding-bottom: 1rem;
}

.delete-account-container hr {
  margin-top: -1rem;
}

.delete-account-container button {
  margin-top: 2rem;
  background-color: #014980;
  color: white;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 1rem;
}
