.empty-main {
  margin: 5rem auto;
  text-align: center;
  color: #898989;
}

.dog-icon {
  font-size: 20rem;
}

.empty-message {
  font-size: 3rem;
}

#small-size .dog-icon {
  font-size: 8rem;
}

#small-size .empty-message {
  font-size: 1.4rem;
}
