.password-input-main .buttons button {
  margin-top: 2rem;
  background-color: #014980;
  color: white;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.password-input-main input{
    width: 40%;
    height: 1.5rem;
    border: 1px solid lightgrey;
    border-radius: 7px;
    display:block
}